<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="face.css" />
    <script src="face.js" defer></script>
  </head>
  <body>
    <div class="welcome">
      <h1>게시판에 오신걸 환영합니다</h1>
      <ul>
        <li><a href="/user/login">로그인</a></li>
        <li><a href="/user/signup">회원가입</a></li>
      </ul>
    </div>
    <div class="clock">
      <div class="hand min"></div>
      <div class="hand sec"></div>
      <div class="hand hour"></div>
      <div class="markers markers1">
        <div class="marker"></div>
      </div>
      <div class="markers markers2">
        <div class="marker"></div>
      </div>
      <div class="markers markers3">
        <div class="marker"></div>
      </div>
      <div class="markers markers4">
        <div class="marker"></div>
      </div>
      <div class="markers markers5">
        <div class="marker"></div>
      </div>
      <div class="markers markers6">
        <div class="marker"></div>
      </div>
      <div class="markers markers7">
        <div class="marker"></div>
      </div>
      <div class="markers markers8">
        <div class="marker"></div>
      </div>
      <div class="markers markers9">
        <div class="marker"></div>
      </div>
      <div class="markers markers10">
        <div class="marker"></div>
      </div>
      <div class="markers markers11">
        <div class="marker"></div>
      </div>
      <div class="markers markers12">
        <div class="marker"></div>
      </div>
      <div class="markers markers13">
        <div class="marker"></div>
      </div>
      <div class="markers markers14">
        <div class="marker"></div>
      </div>
      <div class="markers markers15">
        <div class="marker"></div>
      </div>
      <div class="markers markers16">
        <div class="marker"></div>
      </div>
      <div class="markers markers17">
        <div class="marker"></div>
      </div>
      <div class="markers markers18">
        <div class="marker"></div>
      </div>
      <div class="markers markers19">
        <div class="marker"></div>
      </div>
      <div class="markers markers20">
        <div class="marker"></div>
      </div>
      <div class="markers markers21">
        <div class="marker"></div>
      </div>
      <div class="markers markers22">
        <div class="marker"></div>
      </div>
      <div class="markers markers23">
        <div class="marker"></div>
      </div>
      <div class="markers markers24">
        <div class="marker"></div>
      </div>
      <div class="markers markers25">
        <div class="marker"></div>
      </div>
      <div class="markers markers26">
        <div class="marker"></div>
      </div>
      <div class="markers markers27">
        <div class="marker"></div>
      </div>
      <div class="markers markers28">
        <div class="marker"></div>
      </div>
      <div class="markers markers29">
        <div class="marker"></div>
      </div>
      <div class="markers markers30">
        <div class="marker"></div>
      </div>
      <div class="markers markers31">
        <div class="marker"></div>
      </div>
      <div class="markers markers32">
        <div class="marker"></div>
      </div>
      <div class="markers markers33">
        <div class="marker"></div>
      </div>
      <div class="markers markers34">
        <div class="marker"></div>
      </div>
      <div class="markers markers35">
        <div class="marker"></div>
      </div>
      <div class="markers markers36">
        <div class="marker"></div>
      </div>
      <div class="markers markers37">
        <div class="marker"></div>
      </div>
      <div class="markers markers38">
        <div class="marker"></div>
      </div>
      <div class="markers markers39">
        <div class="marker"></div>
      </div>
      <div class="markers markers40">
        <div class="marker"></div>
      </div>
      <div class="markers markers41">
        <div class="marker"></div>
      </div>
      <div class="markers markers42">
        <div class="marker"></div>
      </div>
      <div class="markers markers43">
        <div class="marker"></div>
      </div>
      <div class="markers markers44">
        <div class="marker"></div>
      </div>
      <div class="markers markers45">
        <div class="marker"></div>
      </div>
      <div class="markers markers46">
        <div class="marker"></div>
      </div>
      <div class="markers markers47">
        <div class="marker"></div>
      </div>
      <div class="markers markers48">
        <div class="marker"></div>
      </div>
      <div class="markers markers49">
        <div class="marker"></div>
      </div>
      <div class="markers markers50">
        <div class="marker"></div>
      </div>
      <div class="markers markers51">
        <div class="marker"></div>
      </div>
      <div class="markers markers52">
        <div class="marker"></div>
      </div>
      <div class="markers markers53">
        <div class="marker"></div>
      </div>
      <div class="markers markers54">
        <div class="marker"></div>
      </div>
      <div class="markers markers55">
        <div class="marker"></div>
      </div>
      <div class="markers markers56">
        <div class="marker"></div>
      </div>
      <div class="markers markers57">
        <div class="marker"></div>
      </div>
      <div class="markers markers58">
        <div class="marker"></div>
      </div>
      <div class="markers markers59">
        <div class="marker"></div>
      </div>
      <div class="markers markers60">
        <div class="marker"></div>
      </div>
    </div>
  </body>
</html>
